<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee's home</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="../CSS/style.css" th:href="@{/css/style.css}" />
<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 5px;
	  text-align: left;
	}
</style>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1>Welcome to the Employee Home page</h1>
	
	<span th:text="${session.user.name}"></span>
	
	
	<p>My Quotations:</p>
	<table style="width:100%">
		<tr>
		    <th>Code</th>
		    <th>ClientCode</th>
	    </tr>
	    <tr th:each="q: ${myQuotations}">
		    <td th:text="${q.code}">aa</td>
		    <td th:text="${q.clientCode}">bb</td>
	    </tr>
  
	</table>
	
	
	<p>Never Assigned Quotations:</p>
	<form th:action="@{/PriceQuotation}" method="POST">
		<select th:each="q: ${neverAssignedQuotations}">
			<option th:text="${q.code} + ${q.clientCode}">o1</option>
		</select>
	</form>
	<a href="PriceQuotation.html" th:href="@{/GoToPriceQuotation}">Price the selected quotation!</a>
	
	
</body>
</html>