<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee's home</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="../CSS/style.css" th:href="@{/css/style.css}" />
<style>
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 5px;
	  text-align: left;
	}
</style>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1>Welcome to the Employee Home page, <span th:text="${session.user.code}"></span></h1>
	
	
	
		<h3>My Quotations:</h3>
	
			<table style="width:100%">
				<tr>
				    <th>Code</th>
				    <th>EmployeeCode</th>
				    <th>ClientCode</th>
				    <th>price</th>
				    <th>productCode</th>
			    </tr>
			    <tr th:each="q: ${myQuotations}">
				    <td th:text="${q.code}">aa</td>
				    <td th:text="${q.employeeCode}">bb</td>
				    <td th:text="${q.clientCode}">cc</td>
				    <td th:text="${q.price}">dd</td>
				    <td th:text="${q.productCode}">ee</td>
			    </tr>
			</table>
	
	
	<h3>Never Assigned Quotations:</h3>
	<form th:action="@{/GoToPriceQuotation}" method="POST">
	<table style="width:100%">
				<tr>
					<th></th>
				    <th>Code</th>
				    <th>EmployeeCode</th>
				    <th>ClientCode</th>
				    <th>price</th>
				    <th>productCode</th>
			    </tr>
			    <tr th:each="q: ${neverAssignedQuotations}">
			    	<td><input type="radio" name="select" th:name="selectedQuotation" th:value="${q.code}"></td>
				    <td th:text="${q.code}">aa</td>
				    <td th:text="${q.employeeCode}">bb</td>
				    <td th:text="${q.clientCode}">cc</td>
				    <td th:text="${q.price}">dd</td>
				    <td th:text="${q.productCode}">ee</td>
			    </tr>
	</table>
	<input type="submit" value="price quotation">
	</form>
	
	
</body>
</html>