<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Client's home</title>
<!--link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" /-->
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Client's Home Page</h1>
	<span th:text="${session.user.name}"></span>
	<p>Please use the form below to enter a new Quotation</p>
	<form th:action="@{/CreateQuotation}" th:object="${quotationCode}" method="POST">
		<fieldset>
		  <legend>Choose a Product:</legend>
    		<select th:each="p: ${products}">
      			<option th:text="${p}">o1</option>
    		</select>
		</fieldset>
		Specify quotation code: <input type="text" name="quotationCode" required> <br>
		<input type="hidden" name="clientCode" th:value="${session.user.code}">
		<input type="submit" name="submit" value="Submit Quotation">
	</form>
	
	<!-- <h1>My quotations:</h1>
	<ul th:each="quotation : ${myQuotations}">
		<li th:text="${quotation.code}"></li>
		<li></li>
	</ul>-->

</body>
</html>