<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Client's home</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/client.css" th:href="@{/css/client.css}" >

<style>
	img{
		width:100px;
		height:100px;
	}
	body{
		font-family: 'Roboto', sans-serif;
	}
	table, th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	th, td {
	  padding: 5px;
	  text-align: left;
	}
</style>


</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Client's Home Page, <span th:text="${session.user.code + '!'}" ></span>  </h1>
	
	
	<p>Please use the form below to enter a new Quotation</p>
	<form th:action="@{/CreateQuotation}" th:object="${form}" method="POST">
	
		<fieldset>
			<h3>Choose a Product and select at least one Option:</h3>
			
 			   	<div th:each="p: ${products}">
 			   		<input type="radio"    th:name="productCode" th:value="${p.code}" th:text="${p.name +'[productCode:'+ p.code + ']'}">
 			 	  	<input type="checkbox" th:name="optionsList" th:value="${o.code}" th:each="o: ${p.optionsList}" th:text="${o.name}"> 
					<img  th:src="@{'data:image/png;base64,'+${p.image}}" alt="" /> 	 
			  	</div>	
 			   		   			
    	</fieldset>
		
		<input type="hidden" name="clientCode" th:value="${session.user.code}">
		<input type="submit" name="submit" value="Submit Quotation">
		
	</form>
		
		
		
		<fieldset>
			
			<h3>My Quotations:</h3>
		
				<table style="width:100%">
					<tr>
					    <th>Code</th>
					    <th>EmployeeCode</th>
					    <th>ClientCode</th>
					    <th>price</th>
					    <th>productCode</th>
				    </tr>
				    <tr th:each="q: ${myQuotations}">
					    <td th:text="${q.code}">aa</td>
					    <td th:text="${q.employeeCode}">bb</td>
					    <td th:text="${q.clientCode}">bb</td>
					    <td th:text="${q.price}">bb</td>
					    <td th:text="${q.productCode}">bb</td>
				    </tr>
			  
				</table>
	
		</fieldset>	
		

</body>
</html>