<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Price Quotation</title>
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	
	<h1>Welcome to the Price Quotation Page</h1>

	<span>User: </span>
	<span th:text="${session.user.username}"></span><br>
	
	<span>Quotation Code: </span>
	<span th:text="${session.user.username}"></span>
	
	<p>	Please use the form below to assign price </p>
	

	<form action="PriceQuotation" method="POST">
		PRICE: <input type="text" name="price"><br> 
			   <input type="submit" value="priceQuotation">
	</form>	

</body>
</html>